source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1, netstandard2.0
storage: none

nuget FSharp.Core 5.0.0
nuget Fable.Remoting.Giraffe
nuget Saturn
nuget Paket.Core 6.0.0-beta8
nuget Expecto

nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.FontAwesome.Free
nuget Fable.Mocha
nuget Fable.React
nuget Fable.Remoting.Client
nuget Fulma

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes 5.20.4-alpha.1642
    nuget Fake.Core.Target 5.20.4-alpha.1642
    nuget Fake.DotNet.Cli 5.20.4-alpha.1642
    nuget Fake.IO.FileSystem 5.20.4-alpha.1642
    nuget Farmer
